* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(35deg, #00f260, #0575e6);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 75px;
  margin: 5px 20px;
}

.title {
  color: #4a051c;
}

.list-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.list-item {
  padding: 20px;
}

.list-item a {
  text-decoration: none;
  font-size: 20px;
}
